<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.insturmentshelperapp">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.lessons.LessonsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.chordbook.ChordsBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.tuner.TunerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".interactor.AlertReceiver" />
    </application>

</manifest>